apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  type: LoadBalancer
  selector:
    app: {{ .Release.Name }}
  ports:
  - protocol: TCP
    name: "ws"
    port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.port }}
